<footer class="footer footer-center fixed bottom-0 left-0 w-full z-50 bg-base-100/80 backdrop-blur border-t border-base-200 p-2 text-base-content text-sm">
  <aside>
    <p>
      © {{ settings.name }} 2025 · Made with ❤ by
      <a href="{{ settings.url }}" target="_blank" class="link link-primary">
        {{ settings.author }}
      </a>
      •
      <a href="https://github.com/sean-njela/neat-starter"
         target="_blank" rel="noopener"
         class="link link-primary">
        View on Github
      </a>
    </p>
  </aside>
</footer>
