<header class="fixed top-0 left-0 w-full z-50 backdrop-blur bg-base-100/80 border-b border-base-200">
  <nav class="flex items-center justify-between flex-wrap px-6 py-4 container mx-auto"
       x-data="{ isOpen: false }"
       @keydown.escape="isOpen = false"
       @click.away="isOpen = false">

    <!-- Logo + Name -->
    <a href="/" class="flex items-center space-x-3 text-primary font-bold text-lg">
      <img src="/static/img/avatar.jpg"
           alt="Sean Njela"
           class="w-10 h-10 rounded-full shadow border-2 border-base-100 ring ring-primary ring-offset-base-100 ring-offset-2" />
      <span class="h-6 w-px bg-base-300"></span>
      <span>Sean Njela – DevOpsSean</span>
    </a>

    <!-- Right section -->
    <div class="flex items-center space-x-4 ml-auto">

      <!-- Theme toggle (synthwave example) -->
      <label class="swap swap-rotate">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" class="theme-controller" value="dark" />
      
        <!-- sun icon -->
        <svg
          class="swap-off h-8 w-8 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
        </svg>
      
        <!-- moon icon -->
        <svg
          class="swap-on h-8 w-8 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
        </svg>
      </label>

      <!-- Mobile menu button -->
      <button @click="isOpen = !isOpen" type="button"
              class="block lg:hidden px-2 text-primary hover:text-primary-focus focus:outline-none"
              aria-label="Menu">
        <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <!-- Close icon -->
          <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"/>
          <!-- Hamburger icon -->
          <path x-show="!isOpen" fill-rule="evenodd"
                d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 110-2z"/>
        </svg>
      </button>
    </div>

    <!-- Menu items -->
    <div class="w-full lg:flex lg:items-center lg:w-auto text-center lg:text-right"
         :class="{ 'block': isOpen, 'hidden': !isOpen }">
      {% if navigation.items %}
        <ul class="pt-6 lg:pt-0 list-reset lg:flex gap-4 flex-1 items-center">
          {% for item in navigation.items %}
            <li>
              <a @click="isOpen = false"
                 href="{{ item.url }}"
                 class="text-base font-medium text-base-content hover:text-primary px-3 py-2 block transition">
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </nav>
</header>
