<div class="lg:w-1/4 md:w-1/2 p-4 pb-12" data-category="{{ project.category | lower }}">
  <div class="card bg-base-300 shadow-md transition hover:shadow-lg hover:shadow-blue-300 tooltip tooltip-top" data-tip="{{ project.description | truncate(350, "...")}}">
    
    {% if project.image %}
      <figure class="h-40 w-full bg-base-200 flex items-center justify-center overflow-hidden">
        <img 
          src="{{ project.image }}" 
          alt="{{ project.title }}" 
          class="max-h-full max-w-full object-contain"
        />
      </figure>
    {% endif %}

    <div class="card-body h-50 flex flex-col justify-between"> 
      <div>
        <h3 class="badge badge-xs badge-secondary text-xs font-medium text-neutral uppercase tracking-wide truncate mb-2">
          {{ project.category or "Project" }}
        </h3>

        <h2 class="card-title text-lg" title="{{ project.title }}">
          {{ project.title }}
        </h2>
      </div>

      <div class="card-actions justify-between mt-2">
        {% if project.url %}
          <a href="{{ project.url }}" target="_blank" rel="noopener" class="btn btn-primary btn-sm">
            View Project
          </a>
        {% endif %}
        {% if project.site %}
          <a href="{{ project.site }}" target="_blank" rel="noopener" class="btn btn-outline btn-sm">
            Live Site
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
